@font-face {
    font-family: 'vintage';
    src: url('assets/fonts/vintage/vintage.ttf');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: scroll;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.quiz-container {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

.choice-container {
    display: flex;
    flex-direction: column;
}

.choice {
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
    padding: 25px;
}

.choice:hover{
    border: 1px solid #000;
    background: gainsboro;
    border-radius: 10px;
}

.choice:hover{
    border: 1px solid #000; 
    background: gainsboro;
    border-radius: 10px;
}


h1 {
    font-family: 'vintage';
    padding: 20px;
    font-size: 55px;
    animation: textAnimation 4s infinite alternate;
    background: linear-gradient(45deg, #000, #3872a4, #000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 30px;
}

ul {
    font-size: 20px;
}


.images-container {
    display: flex;
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement si nécessaire */
}

.quiz-image {
    /* Ajoutez ici des styles spécifiques aux images si nécessaire */
    max-width: 100%; /* Pour que les images s'adaptent à la largeur du conteneur */
}

.quiz-container ul {
    list-style: none; /* Pour enlever les puces */
    padding: 0; /* Pour enlever le padding par défaut des listes */
}

.quiz-container ul li {
    margin: 50px; /* Pour espacer les réponses */
}